body {
	background-color: rgb(188, 210, 214);
}

#header {
	background-color: rgb(100, 147, 155);
	color: rgb(188, 210, 214);
}

footer {
		background-color: rgb(100, 147, 155);
}

nav {
	color: rgb(53, 78, 81);
}